{% include "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">MY ACCOUNT</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
            </tr>
        </tbody>
    </table>
</div>


<!--events -->
<div class="container mt-5">
    <h1 class="text-center mb-4">My Events</h1>
    <div class="my-event-container">
        {% for event in my_event %}
        <div class="event-item d-flex justify-content-between align-items-center mb-3">
            <p class="mb-0"><strong>Event Name:</strong> {{ event.event_name }}</p>
            <div class="actions">
                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}