{% block content %}
<footer class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Subscribe to Our Newsletter</h5>
          <form>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Email: info@example.com</li>
            <li>Phone: +1 234 567 890</li>
            <li>Address: 123 Street, City, Country</li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Event Organizer. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}