{% load static %}
{% include "base.html" %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/volunteer.css' %}">

<div class="container mt-5">
    <h1 class="text-center mb-4">VOLUNTEER:</h1>
    <div class="mt-4">
        <h2>Join Our Volunteer Program</h2>
        <p>
            Our volunteer program is dedicated to making a difference in the community. We offer various events and opportunities for you to get involved. Whether it's organizing events, helping out at local shelters, or participating in environmental cleanups, there's something for everyone.
        </p>
        <p>
            If you're interested in joining our volunteer program, please contact us or sign up through our website.
        </p>
    </div>
    <a class="btn btn-success" href="{% url 'all_volunteer' %}">Explore</a>
    {% if user.is_authenticated %}
    <div></div>
    {% else %}
    <div class="mt-3">
        <p>To create your own program, please <a href="{% url 'login' %}" style="text-decoration: none;">log in</a> or <a href="{% url 'signup' %}" style="text-decoration: none;">sign up</a>.</p>
    </div>
    {% endif %}
</div>

{% endblock %}
