.icon-grid {
    background-color: #212020; 
    padding: 40px 0;
}

.icon-container {
    border: 1px solid #a1a1a1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    margin-right: 0; 
    margin-left: 0;
}

.no-decoration {
    text-decoration: none; 
    color: rgb(236, 236, 236); 
    transition: color 0.3s ease;
}

.no-decoration:hover {
    color: #007bff; 
    text-decoration: none; 
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.3); 
}


.carousel-inner .h-20 {
    height: 200px !important;
    object-fit: cover;
}

.footer-links a {
    color: inherit; 
    text-decoration: none; 
}

.footer-links a:hover {
    color: #007bff;
    text-decoration: none; 
}

@media (max-width: 768px) {
    .icon-container {
        border: 1px solid #a1a1a1;
        text-align: left;
    }
}