.icon-container {
    /* border: 1px solid #ccc; */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    margin-right: 0; 
    margin-left: 0;
}

@media (max-width: 768px) {
    .icon-container {
        text-align: left;
    }
}